.bgnav {
    background-image:linear-gradient(45deg,
    rgba(56, 56, 56, 0.75),
    rgba(255, 255, 255, 0)),
    url('../../../Assets/header-darker.jpg.img.fullhd.medium.jpg');
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
}
.logo {
    font-family: 'Josefin Sans', sans-serif;
}

.active{
    padding-bottom: 5px;
    background-color: transparent;
    border-bottom: 8px solid white;
    border-radius: 0px;
}

.active:hover {
    padding-bottom: 5px;
    background-color: transparent;
    border-bottom: 8px solid black;
    border-radius: 0px;
}