.bgbanner {
    background-image:linear-gradient(45deg,
   
    url('../../Assets/header-darker.jpg.img.fullhd.medium.jpg');
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
}